#mobileMenu{
   display: none;
   background: #1e1c1c;
}
@media (max-width: 715px) {
   #mobileMenu{
      display: block;
   }
   .bpen-drawer{
   position:fixed;
   top: 0px;
   height: 100%;
   width: 225px;
   background-color: #eee;
   z-index:1000;
   transition: 0.5s ease;
   }

   .bpen-drawer-left{
   left:-225px;
   }

   .bpen-drawer-right{
   right:-225px;
   border-left: 2px solid #ccc;
   }

   .bpen-drawer-left.expanded{
   left: 0px;
   }

   .bpen-drawer-right.expanded{
   right:0px;
   }

   .bpen-toggle-pad {
   position:absolute;
   top: 0px;
   width: 45px;
   height:100%;
   background-color:#fff;
   color:#000;
   text-align:center;
   cursor:pointer;
   background: url(../img/menu.png) no-repeat center center;
   background-size: 45px 45px;
   -webkit-transition: 1s ease;
   -moz-transition: 1s ease;
   -o-transition: 1s ease;
   -ms-transition: 1s ease;
   transition: 0.5s ease;
   }

   .bpen-toggle-pad-left{
   right: -80px;
   text-align: center;
   }

   .bpen-toggle-pad-right{
   left : -30px;
   text-align: center;
   }

   .bpen-toggle-pad-left.expanded{
   right:145px;
   background: url(../img/menu_close.png) no-repeat center center;
   background-size: 45px 45px;
   }

   .bpen-toggle-pad-right.expanded{
   left:0px;
   }

   .bpen-drawer-header{
   position:relative;
   height: 40px;
   width:100%;
   top:0px;
   left:0px;
   background-color: #ccc;
   }


   .bpen-drawer-items{
    list-style-type:  none;
    padding-left: 0px;
    width:100%;
    margin-top:0px;
   }

   .bpen-drawer-items li{
   padding: 10px 0px 10px 0px;
   width:100%;
   margin: -1px 0px 0px 0px;
   cursor:pointer;
   font-size:1.5em;
   }

   .bpen-drawer-items li a{
   display:block;
   text-decoration:none;
   font-weight: bold;
   color: #007f0e;
   width:100%;
   }
   .bpen-drawer-items li a::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #007f0e;
      transition: width 0.3s;
   }
   .bpen-drawer-items li a:hover::after{
      width: 100%
   }
   div.bpen-drawer-header{
      height: 105px;
      background-color: #000;
   }
   
}
